<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .password-container {
        position: relative;
        width: 100%;
      }

      .toggle-password {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #999;
        pointer-events: none;
      }
    </style>
  </head> 
  <body>
    <div class="first">
      <div class="container">
        <h1 class="form-title">Reset your Password</h1>
        <img class="logo" src="/img/Logo.png"/>
        <form class="resetPassword">
          <div class="main-user-info">
            <div class="user-input-box">
              <label for="password">Password:</label>
              <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Enter New Password " required="required"/>
                <i class="toggle-password fa fa-eye" onclick="togglePasswordVisibility()"></i>
              </div>
            </div>
          </div>
          <div class="form-submit-btn">
            <input type="submit" value="Submit"><br><br>
          </div>
        </form>
      </div>
    </div>
    <script>
      function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var eyeIcon = document.querySelector(".toggle-password");

        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          eyeIcon.classList.remove("fa-eye");
          eyeIcon.classList.add("fa-eye-slash");
        } else {
          passwordInput.type = "password";
          eyeIcon.classList.remove("fa-eye-slash");
          eyeIcon.classList.add("fa-eye");
        }
      }

      var passwordInput = document.getElementById("password");
      var eyeIcon = document.querySelector(".toggle-password");

      passwordInput.addEventListener("input", function() {
        if (passwordInput.value.length > 0) {
          eyeIcon.style.pointerEvents = "auto";
        } else {
          eyeIcon.style.pointerEvents = "none";
        }
      });
    </script>
    <script type="module" src="/js/ForgetPassword.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  </body>
</html>
