.add-species-container {
  width: 100%;
  padding: 0 8px;
}
.species-header {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  margin-top: 70px;
}

.back-arrow {
  font-size: 1rem;
  padding-right: 10px;
  line-height: 220%;
}

.speciescontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 20px;
  width: 100%;
}

.column1 {
  width: 20%;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.column2 {
  width: 40%;
  padding: 10px;
  text-align: left;
}

.column2 div,
.column3 div {
  margin-bottom: 5px;
  padding-top: 10px;
  color: var(--color-text-light-gray);
}

.column3 {
  width: 40%;
  padding: 10px;
  text-align: left;
}

.column2 input,
.column3 input {
  width: 100%;
  padding: 7px;
  border: 1px solid var(--color-outline-gray-light);
  color: var(--color-dark);
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
}

.select-photo {
  color: var(--color-gray-light);
}
#add-photo {
  height: 98%;
  width: 98%;
  object-fit: cover;
  object-position: center center;
}

.select-status {
  padding: 8px 10px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--color-gray-light);
  background-color: transparent;
  border: 1px solid var(--color-outline-gray-light);
}

.select-status option {
  color: var(--color-text-light-gray);
}

.description {
  height: 80px;
}

.number-input {
  display: flex;
  align-items: center;
}

.number-input input {
  width: 80px;
  height: 30px;
  border: 1px solid var(--color-outline-gray-light);
  color: var(--color-gray-light);
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  margin: -10px 0px;
  padding: 0;
}

.more-btn {
  padding: 0.3rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 10%;
}

.speciesbuttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 20px;
  width: 100%;
}

.cancle-button {
  width: 94.4px;
  background-color: white;
  color: #136d66;
  border: 2px solid var(--color-outline-gray-light);
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.cancle-button:hover {
  background-color: #f4f4f6;
}

.addnew-button {
  margin-left: 10px;
  background-color: #136d66;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.addnew-button:hover {
  background-color: #115d56;
}

.update-button {
  margin-left: 10px;
  background-color: #136d66;
  color: white;
  border: none;
  padding: 11px 22px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.update-button:hover {
  background-color: #115d56;
}

.delete-button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 11px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.delete-button:hover {
  background-color: rgb(164, 3, 11);
}

.uploaded-photos-img-container {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-outline-gray-light);
  border-radius: 8px;
  margin: 10px;
}

.uploaded-photos-img-container img {
  width: 200px;
  border: 1px solid var(--color-outline-gray-light);
}

.delete-button-container {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
}

.previewcontainer {
  margin: 0 auto;
  justify-content: center;
  background-color: white;
  padding: 20px;
  width: 100%;
}

.previewcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.imgpreview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.imgpreview div {
  font-weight: bold;
  padding: 10px 2px;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-button .material-icons {
  font-size: 2rem;
  color: #fff;
  padding-right: 1rem;
}

.fullscreen-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.file-upload-container {
  padding: 20px;
}

.file-upload-container div {
  font-weight: bold;
  padding-bottom: 15px;
}

.select-file {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid var(--color-outline-gray-light);
  color: var(--color-gray-light);
}

.addnew-button-disabled {
  margin-left: 10px;
  background-color: #f4f4f6;
  color: #767676;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.speciescontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.column1 {
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding-right: 20px;
}

.column3 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding-left: 20px;
}

.chart-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .column2,
  .column3 {
    flex-basis: 100%;
    padding: 0;
  }
  .add-species-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .species-header {
    display: flex;
    width: 100%;
    padding: 20px;
  }
  .previewcontainer {
    max-width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .add-species-container {
    width: 100%;
    margin: 0;
  }
}
