.birder-detail-page-container {
  border-radius: 15px;
  margin-top: 20px;
  padding: 1%;
  padding-bottom: 10px;
  width: 100%;
  padding-bottom: 10%;
  margin-bottom: 20px;
  margin-right: 2rem;
  margin-top: 75px;
}
.birder-detail-header {
  display: flex;
  justify-content: space-between;
  line-height: 190%;
  padding: 0 10px;
}
.birder-detail-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-color: #f7f7f7;
  background-color: #ffffff;
  margin-top: 2rem;
  border-radius: 10px;
}
.cover-img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.parent-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profile-img {
  display: block;
  margin-top: -3rem;
  width: 100%;
  text-align: center;
}
.profile-img img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.name-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.name-description p {
  font-size: 14px;
}
.birder-detail {
  flex: 1;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}
.birder-detail ul {
  margin-top: 2rem;
  width: 40%;
  margin-left: 30%;
}
.birder-detail ul li {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.birder-detail ul li span:first-child {
  display: inline-block;
  color: #827f7f;
}

.birder-detail ul li span:last-child {
  display: inline-block;
}

.birder-description {
  position: relative;
  display: flex;
  flex: 1;
  height: 50rem;
  margin-top: 2rem;
  margin-left: 4rem;
  border-color: #f7f7f7;
  background-color: #ffffff;
  border-radius: 10px;
}

.all-bio {
  position: absolute;
  /* top: 3rem;
    left: 3rem; */
  width: 100%;
}
.birder-bio {
  margin-left: 2rem;
  margin: 1rem;
}
hr {
  height: 1px;
  background-color: rgb(192, 185, 185);
  border: none;
  width: 95%;
  margin-top: 2rem;
  margin-left: 1rem;
}
.bio-text {
  width: 95%;
  font-size: 14px;
  margin-left: 1rem;
  margin-top: 2rem;
  color: #000000;
  line-height: 1.5;
}
.birder-states {
  display: flex;
  position: absolute;
  top: 20rem;
  left: 1rem;
  width: 95%;
}
.states-row {
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-items: center;
  width: 40%;
  justify-content: space-between;
  margin-left: 30%;
  display: flex;
  flex-direction: row;
}
.states-checklist {
  flex: 1;
  max-width: 14rem;
  padding: 1rem;
  /* border-color: #f7f7f7; */
  background-color: #f2f1f1;
  border-radius: 10px;
}
.states-checklist-text {
  font-size: 14px;
  font-family: "Manrope";
  margin-bottom: 0.5rem;
}
.states-species {
  display: flex;
  flex: 1;
  max-width: 15rem;
  height: 13rem;
  margin-top: 4rem;
  margin-left: 5rem;
  border: 1px solid #d8d7d7;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.states-species-text {
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 14px;
  font-family: "Manrope";
}

.entries-species {
  border-radius: 15px;
  border-color: #f7f7f7;
  background-color: #fcfcfc;
  padding: 20px;
  padding-bottom: 10px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.entries-container {
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.species-card2 {
  width: calc(50% - 1rem);
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #f5f4f4;
  position: relative;
  display: flex;
  flex-direction: row;
}

.species-card2 img {
  padding: 1rem;
  max-width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10%;
}

.species-card2-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1rem;
}

.species-card2-name {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: var(--color-dark);
}

.species-card-location {
  font-size: 1rem;
  color: #808191;
}

.species-card-date {
  font-size: 1rem;
  color: #000000;
  padding: 0.5rem;
}

.delete-birder1 {
  padding: 5px 10px;
  position: absolute;
  right: 5%;
  margin-top: 17rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(217, 6, 6);
}

.delete-birder1:hover {
  background-color: rgb(166, 8, 8);
}

.material-symbols-outlined#toggle1 {
  margin-top: 15rem;
  position: absolute;
  color: #777;
  right: 5%;
  cursor: pointer;
}

.material-symbols-outlined#toggle1:hover {
  color: #050404;
}

@media (max-width: 1024px) {
  .birder-detail-page-container {
    width: 100%;
  }
  .parent-container {
    display: flex;
    width: 100%;
  }
  .total-species-observed {
    display: flex;
    /* margin-left: 20rem;*/
    width: 100%;
  }
}
@media (max-width: 768px) {
  .birder-detail-page-container {
    width: 100%;
  }
  .parent-container {
    display: flex;
    flex-direction: column;
  }
  .birder-detail-profile {
    width: 100%;
  }
  /* .cover-img{
      width: 60px;
    } */

  .profile-img {
    display: block;
    margin-top: -3rem;
  }
  .profile-img img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
  }

  .birder-detail ul {
    margin-top: 2rem;
    width: 60%;
    margin-left: 20%;
  }

  .states-row {
    width: 60%;
    margin-left: 20%;
  }

  .states-species {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    max-width: 40%;
    height: 8rem;
  }

  .total-species-observed {
    width: 100%;
    height: 34rem;
    margin-top: 2rem;
  }

  .species-card2 {
    width: 100%;
    margin-right: 0;
  }

  .delete-birder1 {
    right: 8%;
  }
  
  .material-symbols-outlined#toggle1 {
    right: 8%;
  }
}

@media (max-width: 500px) {
  .birder-detail ul {
    margin-top: 2rem;
    width: 90%;
    margin-left: 5%;
  }
  .states-row {
    width:90%;
    margin-left: 5%;
  }
}