.birder-detail-page-container {
  border-radius: 15px;
  margin-top: 20px;
  padding: 1%;
  padding-bottom: 10px;
  width: 100%;
  padding-bottom: 10%;
  margin-bottom: 20px;
  margin-right: 2rem;
}
.birder-detail-header {
  display: flex;
  justify-content: space-between;
  line-height: 190%;
  padding: 0 10px;
}
.birder-detail-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 50rem;
  border-color: #f7f7f7;
  background-color: #ffffff;
  margin-top: 2rem;
  border-radius: 10px;
}
.cover-img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.parent-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.profile-img {
  display: block;
  margin-top: -3rem;
  margin-left: 3rem;
  margin-right: 1rem;
}
.profile-img img {
  width: 95px;
  height: 95px;
  border-radius: 100%;
}

.name-description {
  /* position: relative; */
  display: flex;
  margin-top: -15%;
  margin-left: 50%;
}
.name-description p {
  margin-top: 2rem;
  margin-left: -5rem;
  font-size: 14px;
}
.birder-detail {
  flex: 1;
}
.birder-detail ul {
  margin-left: 2rem;
  margin-top: 2rem;
}
.birder-detail ul li {
  padding-top: 2rem;
}
.birder-detail ul li span:first-child {
  display: inline-block;
  width: 40%;

  color: #827f7f;
}

.birder-detail ul li span:last-child {
  display: inline-block;
}

.birder-description {
  position: relative;
  display: flex;
  flex: 1;
  height: 50rem;
  margin-top: 2rem;
  margin-left: 4rem;
  border-color: #f7f7f7;
  background-color: #ffffff;
  border-radius: 10px;
}

.all-bio {
  position: absolute;
  /* top: 3rem;
    left: 3rem; */
  width: 100%;
}
.birder-bio {
  margin-left: 2rem;
  margin: 1rem;
}
hr {
  height: 1px;
  background-color: rgb(192, 185, 185);
  border: none;
  width: 95%;
  margin-top: 2rem;
  margin-left: 1rem;
}
.bio-text {
  width: 95%;
  font-size: 14px;
  margin-left: 1rem;
  margin-top: 2rem;
  color: #000000;
  line-height: 1.5;
}
.birder-states {
  display: flex;
  position: absolute;
  top: 20rem;
  left: 1rem;
  width: 95%;
}
.states-checklist {
  display: flex;
  flex: 1;
  max-width: 15rem;
  height: 13rem;
  margin-top: 4rem;
  margin-left: -5rem;
  /* border-color: #f7f7f7; */
  background-color: #f2f1f1;
  border-radius: 10px;
}
.states-checklist-text {
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 14px;
  font-family: "Manrope";
}
.states-species {
  display: flex;
  flex: 1;
  max-width: 15rem;
  height: 13rem;
  margin-top: 4rem;
  margin-left: 5rem;
  border: 1px solid #d8d7d7;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.states-species-text {
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 14px;
  font-family: "Manrope";
}
.total-species-observed {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 17rem;
  margin-top: -9rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.submitted-checklist {
  margin: 0;
}

.viewall-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.view-all-button {
  background-color: #136d66;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
}

.view-all-button:is(:hover, :focus) {
  color: #ba760d;
}

.submitted-species {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.first-species {
  flex: 1;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  margin-top: 8px;
}
.first-span {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}
.first-location {
  margin-top: 1rem;
}
.second-species {
  flex: 1;
  width: 10rem;
  height: 10rem;
  /* margin-left: -10rem; */
  margin-top: 2rem;
}
.second-species {
  flex: 1;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  margin-top: 8px;
}
.second-span {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}
.second-location {
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  .birder-detail-page-container {
    width: 100%;
  }
  .parent-container {
    display: flex;
    width: 100%;
  }
  .total-species-observed {
    display: flex;
    /* margin-left: 20rem;*/
    width: 100%;
  }
}
@media (max-width: 768px) {
  .birder-detail-page-container {
    width: 100%;
  }
  .parent-container {
    display: flex;
    flex-direction: column;
  }
  .birder-detail-profile {
    width: 100%;
    height: 68rem;
  }
  /* .cover-img{
      width: 60px;
    } */

  .profile-img {
    display: block;
    margin-top: -3rem;
    margin-left: 40%;
    margin-right: 1rem;
  }
  .profile-img img {
    width: 95px;
    height: 95px;
    border-radius: 100%;
  }

  .name-description {
    /* position: relative; */
    display: flex;
    margin-top: 1%;
    margin-left: 42%;
  }
  .name-description p {
    margin-top: 2rem;
    margin-left: -5rem;
    font-size: 14px;
  }
  .birder-detail ul {
    margin-left: 0;
    margin-top: 2rem;
  }
  .birder-detail ul li {
    padding-top: 1rem;
    margin-bottom: 1rem;
    /* margin-left: 1rem; */
    height: 5rem;
    border: 0.75px solid rgb(180, 178, 178);
  }
  .birder-detail ul li span:first-child {
    display: inline-block;
    font-size: 16px;
    width: 40%;
    margin-left: 2rem;
    font-weight: bold;
    color: #0f0f0f;
  }

  .birder-detail ul li span:last-child {
    display: inline-block;
    margin-left: 30%;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 89, 0);
  }

  .birder-description {
    width: 100%;
    min-height: 20rem;
    margin-left: 0;
    flex-wrap: wrap;
  }

  .birder-states {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    left: 1rem;
    width: 100%;
  }

  .states-checklist {
    max-width: 40%;
    height: 8rem;
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: #f2f1f1;
    border-radius: 10px;
  }

  .states-species {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    max-width: 40%;
    height: 8rem;
  }

  .total-species-observed {
    width: 100%;
    height: 34rem;
    margin-top: 2rem;
  }

  .submitted-checklist {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    display: inline-block;
    clear: both;
    width: 50%;
  }

  .submitted-species {
    flex-direction: column;
    height: 30rem;
  }

  .first-species {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2rem;
  }
  .first-species img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  .first-span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .first-span h4 {
    margin: 0;
    font-size: 1.25rem;
  }
  .first-span .first-location {
    font-size: 0.875rem;
  }
  .first-span h5 {
    margin: 0;
    font-size: 0.875rem;
  }

  .second-species {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2rem;
  }
  .second-species img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  .second-span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .second-span h4 {
    margin: 0;
    font-size: 1.25rem;
  }
  .second-span .second-location {
    font-size: 0.875rem;
  }
  .second-span h5 {
    margin: 0;
    font-size: 0.875rem;
  }
}
