.checklist-detail-container {
    height: 4rem;
    width: 83rem;
    border: 0.5px solid #dcd8d8;
    background-color: #ffffff;
    margin-top: 3rem;
    margin-left: 2rem;
    padding: 0.5rem;
}

.checklist-detail-container-text {
    padding: 1rem;
    font-size: 12px;
}

.location-icon {
    margin-right: 5px;
}

.contaier-table {
    margin-top: 20px;
    width: 50rem;
}

.checklist-detail {
    border-collapse: collapse;
    width: 48rem;
    border-radius: 10px;
    margin-top: 11px;
    margin-left: 2rem;
    height: 5em;
    background-color: #ffffff;

}

.checklist-detail td {
    text-align: center;
    padding-top: 2rem;
}

  

.bird-img {
    height: 40px;
    width: 40px;
}

.reject-btn {
    width: 5rem;
    height: 2rem;
    margin-right: 8px;
    border: 0.5px solid #e02828;
    border-radius: 2rem;
}

.approve-btn {
    width: 5rem;
    height: 2rem;
    background-color: #136D66;
    color: white;
    margin-left: 8px;
    border-radius: 2rem;

}

.details {
    width: 30rem;
    margin-left: 53rem;
    margin-bottom: -50rem;
}

.card-container {
    display: flex;
    justify-content: right;
    margin-left: 12rem;
    margin-top: -12rem;
    width: 85%;
    height: 60rem;

}

.card-detail {
    width: 40%;
    height: 50%;
    margin-right: 2rem;
}

.card-detail ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-detail li {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 14px;
}

.card-detail span {
    flex: 1;
}


.card-detail .p-1 {
    padding: 0.25rem;
}
.detail-container {
    position: relative; 
  }

.detail-profile {
    position: absolute;
    bottom: 9rem;
    /* bottom: 0;
    right: 0; */
    left: 68%;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.detail-text {
    margin-top: 7rem; 
    margin-left: 11rem;
    text-align: center;
  }
.name{
    font-size: 14px;
    color: black;
}
.description{
    font-size: 12px;
}
@media(max-width:1024px){
    .checklist-detail-container{
        display: block;
        width: 95%;
        margin-right: 1rem;
    }
    .checklist-detail{
        width:95%;
    }
    .card-container {
        margin-top: 1rem;
        display: block;
        margin-left: 20px;
        width:150%;
      }
}
@media(max-width:768px){
    .container-table{
        display: block;
        width: 100%;
    }
    
    .checklist-detail thead tr {
        display: none;
    
      }
    
      .checklist-detail thead tr{
        display: none;
    }
    .checklist-detail tr{
        display: block;
    }
    .checklist-detail th, .checklist-detail tr{
        padding: .5em;
    }
    .checklist-detail td{
        text-align: right;
        display: block;
    }
    .checklist-detail td::before{
        content: attr(data-label) ": ";
        float: left;
    }

    .card-container{
        width: 150%;
        margin-left: 20px;
    }
    .card-detail li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        padding: 10px;
    }

    .card-detail li:nth-child(2n) {
        background-color: #fff;
    }

    .detail-container {
        display: flex;
        align-items: center;
    }

    .detail-profile {
        max-width: 50px;
        margin-right: 10px;
    }

    .detail-text {
        display: flex;
        flex-direction: column;
    }

    .name {
        margin-bottom: 5px;
    }
    
}
@media(max-width:584px){
  .detail-profile{
    margin-left: 5%;
  }
  .detail-text{
    margin-left: 20%;

  }
  .name{
    margin-left: 20%;
  }
}