.checklists-page-container {
  display: block;
  width: 100%;
  padding-right: 20px;
}
.checklist-count {
  font-size: 14px;
  color: #777;
  margin-left: 5px;
}

.checklist-count {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.checklist-page-container {
  border-radius: 0.25rem;
  border-color: #f7f7f7;
  background-color: #fcfcfc;
  padding: 20px;
  width: 100%;
}

.checklist-header {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  margin-top: 70px;
}

.checklist-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checklist-search-bar {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.checklist-filter-dropdown {
  padding: 5px;
  background: var(--color-light);
  width: 100%;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--color-text-light-gray);
}

.checklist-filter-select {
  border: 1px solid transparent;
  background: var(--color-light);
  padding: 3px;
  border-radius: var(--border-radius-2);
  display: flex;
  justify-content: center;
  color: var(--color-text-light-gray);
  cursor: pointer;
  margin: 2px;
}

.checklist-filter-select:is(:hover, :focus) {
  border: 1px solid #136d66;
}

.checklist-filter-dropdown-birdingSite {
  padding: 0.3rem;
  background-color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 20%;
}

.checklist-button-container {
  position: absolute;
  right: 0;
  padding-right: 20px;
  top: 100px;
}

.checklist-export-button:is(:hover, :focus) {
  color: #ba760d;
}

.checklist-export-button {
  background-color: #136d66;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.checklist-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.retrived-table {
  display: block;
  width: 100%;
}

.checklist-table {
  width: 100%;
  height: 6rem;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ffffff;
  table-layout: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.checklist-table:hover {
  background-color: #f5f5f5;
}

.checklist-table th {
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

.checklist-table td {
  padding: 1em;
  text-align: center;
  color: black;
}

.custom-data {
  text-align: center;
  padding-bottom: 0;
}

.checklist-link {
  text-decoration: none;
}

.main-head {
  display: none;
}

@media (max-width: 1024px) {
  .checklist-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .checklists-page-container {
    display: block;
    width: 100%;
    padding-right: 20px;
  }

  .page-container {
    overflow: hidden;
  }

  .checklist-filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    width: 100%;
    margin: 0;
    gap: 1;
    overflow-x: hidden;
  }

  .checklist-filter-dropdown {
    margin-bottom: 10px;
  }

  .checklist-search-bar,
  .checklist-filter-dropdown {
    padding: 0.5em;
  }

  .checklist-search-bar {
    flex-basis: 100%;
    margin-bottom: 5px;
  }

  .checklist-search-bar,
  .checklist-filter-dropdown {
    margin-bottom: 5px;
    width: 100%;
  }

  .checklist-filter-dropdown {
    flex-basis: auto;
    width: 100%;
    margin-right: 0;
  }

  .checklist-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .retrived-table {
    display: block;
    width: 100%;
  }

  .checklist-filter-dropdown:last-child {
    margin-right: 0;
  }

  .checklist-table tr {
    display: block;
  }

  .checklist-table .main-table,
  .checklist-table td {
    display: inline-block;
    padding: 0.5em;
  }

  .checklist-table .custom-data {
    text-align: right;
    display: block;
  }

  .checklist-table .custom-data::before {
    content: attr(data-label) ": ";
    color: black;
    float: left;
  }

  /* tbody tr:nth-child(even) {
    background-color: #eaeaea;
  } */
}
