.mainn-content {
  background: #f4f4f4;
  padding-right: 1rem;
  width: 100%;
}
.dash-header {
  margin-top: 80px;
  padding: 10px 0;
  padding-bottom: 15px;
}
.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
}
.card-single {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem;
  border-radius: 5px;
  border: 1px solid white;
}
.card-single:hover {
  background-color: rgba(160, 160, 161, 0.039);;
  cursor: pointer;
}
.card-single div:last-child span {
  font-size: 3.1rem;
  margin-left: 2rem;
  color: rgb(162, 162, 162);
}
.card-single div:first-child span {
  font-size: 1.2rem;
  color: rgb(162, 162, 162);
}
.grid-item {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
}

/* species leader dropdown */
.flex-container {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.flex-item {
  display: flex;
  align-items: center;
  margin-left: 2px;
}

label {
  margin-right: 4px;
}
.gray-select {
  background-color: rgb(216, 212, 212);
  border-radius: 2px;
}

.material-icons {
  margin-left: 4px;
}
.icon-label {
  cursor: pointer;
}

/* checklist leader dropdown */

.checklist-flex {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.checklist-wrapper {
  display: flex;
  align-items: center;
  margin-left: 2px;
}

label {
  margin-right: 4px;
  color: gray;
}

.material-icons {
  margin-left: 0px;
}

.percentage-container {
  display: flex;
  padding-bottom: 2rem;
}
.up-arrow-icon {
  background-color: #136d66;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  /* Add margin-right if needed */
  margin-right: 10px;
}
.up-arrow-icon .material-icons {
  font-size: 20px;
  color: #fff;
  margin-left: 5px;
}
.percentage-value {
  font-size: 2rem;
  margin-right: 20px;
}

.percentage-change {
  font-size: 1.5rem;
  color: #136d66;
  margin-right: 10px;
}
.comparison-text {
  font-size: 1.2rem;
}
/* charts */
.graphBox {
  width: 100%;
  padding-top: 3.5rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
  min-height: 200px;
}
.graphBox .box {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
}
.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 35% auto;
}
.card {
  background-color: #fff;
  border-radius: 15px;
}
.card-header {
  padding: 1rem;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.card-header span {
  color: #136d66;
}
.card-header button {
  background-color: #136d66;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #136d66;
  cursor: pointer;
}
.card-header button:hover {
  background-color: #115d56;
}
.eBirder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
}
.birders-pic {
  width: 40px;
  height: 40px;
}
.bird-pic {
  width: 40px;
  height: 40px;
}
.info {
  display: flex;
  align-items: center;
}
.info img {
  border-radius: 20%;
  margin-right: 1rem;
}
.info h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #222;
}
.info small {
  font-weight: 600;
  color: grey;
  font-size: 1rem;
}
.more-info span {
  display: inline-block;
  margin-left: 0.5rem;
  color: #919191;
}
.sighting-date span {
  color: #136d66;
  font-size: 14px;
}
.explore-birds {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 3rem;
}
.section-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  gap: 1rem;
  padding: 1rem;
}

.buttons-container span {
  margin-top: 1rem;
  color: #136d66;
}
.section-header button {
  background-color: #136d66;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #136d66;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.buttons-container {
  display: flex;
  gap: 1rem;
}
.section-header h3 {
  margin: 0;
}

.popularImg-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.arrow {
  color: #136d66;
  margin-top: 9rem;
}
.popular-img {
  flex-basis: 100%;
  max-width: 30%;
  margin-bottom: 20px;
  /* text-align: center; */
}
.popular-img img {
  width: 100%;
  height: 70%;
  border-radius: 1rem;
}

.name-button-container {
  justify-content: space-between;
  display: flex;
}
.name-button-container button {
  height: 40px;
  width: 50px;
  margin-right: 2%;
}

.popular-img button {
  background-color: #dadefa;
  border-radius: 5px;
  color: #136d66;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #dadefa;
  margin-left: 10rem;
}

.chart-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .popular-img {
    flex-basis: 30%;
    max-width: 30%;
  }
  .graphBox {
    grid-template-columns: 1fr;
    height: auto;
  }
  .graphBox .box {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .graphBox {
    grid-template-columns: 1fr;
    height: auto;
  }
  .graphBox .box {
    width: 100%;
  }
  .dashboard-cards .card-single .material-icons {
    font-size: 25px;
  }
  .dashboard-cards .card-single h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 858px) {
  .dashboard-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .graphBox .box {
    width: 98%;
  }
  .recent-grid {
    grid-template-columns: 2fr;
    height: auto;
    grid-template-columns: 100%;
  }
  .recent-grid .card {
    width: 98%;
  }
  .popular-img {
    flex-basis: 45%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .popular-img {
    flex-basis: 100%;
    max-width: 70%;
  }
  .dashboard-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
