/* DeleteConfirmationModal.css */

.delete-confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 90%;
}
.deleteh3 {
  margin-top: 0;
  padding: 10px;
}

.modal-buttons1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.button-delete {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: rgb(217, 6, 6);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.button-delete:hover {
  background-color: rgb(166, 8, 8);
}

.button-delete:focus {
  outline: none;
}

.confirm-delete {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #136d66;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-delete:hover {
  background-color: #115d56;
}

.confirm-delete:focus {
  outline: none;
}
