.login_container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form_container {
  width: 990px;
  height: 650px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 1%),
    0px 1px 8px 0px rgb(0 0 0 / 5%);
}

.login_left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
}

.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3bb19b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right h1 {
  margin-top: 0;
  color: white;
  font-size: 40px;
  align-self: center;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.green_btn {
  background-color: #3bb19b;
  color: white;
  margin: 10px auto;
}

.text {
  text-align: center;
  font-size: 14px;
  color: #2c444e;
}

.google_btn {
  width: 370px;
  height: 41.6px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: white;
  border: 2px solid #e4e4e4;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #2c444e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.google_btn > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.google_btn > span {
  margin-left: 10px;
}

/* Tablet View */
@media screen and (max-width: 768px) {
  .login_form_container {
    width: 100%;
    height: auto;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
  }

  .login_left {
    border-radius: 0;
    border-bottom-left-radius: 10px;
    padding: 30px;
    text-align: center;
  }

  .right {
    display: none;
  }

  .form_container {
    width: 100%;
    margin-top: 30px;
  }

  .input {
    width: 100%;
  }

  .green_btn {
    width: 100%;
    max-width: 350px;
  }
}

/* Mobile View */
@media screen and (max-width: 576px) {
  .login_left {
    padding: 20px;
  }

  .input {
    font-size: 12px;
    padding: 10px;
  }

  .google_btn {
    font-size: 12px;
    padding: 10px;
  }
}

/* Tablet View */
@media screen and (max-width: 768px) {
  .login_form_container {
    width: 100%;
    height: auto;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
  }

  .login_left {
    border-radius: 0;
    border-bottom-left-radius: 10px;
    padding: 30px;
    text-align: center;
  }

  .right {
    display: none;
  }

  .form_container {
    width: 100%;
    margin-top: 30px;
  }

  .input {
    width: 100%;
  }

  .green_btn {
    width: 100%;
    max-width: 350px;
  }
}

/* Mobile View */
@media screen and (max-width: 576px) {
  .login_left {
    padding: 20px;
  }

  .input {
    font-size: 12px;
    padding: 10px;
  }

  .google_btn {
    font-size: 12px;
    padding: 10px;
  }
}
