.notifications-container {
    width: 100%;
    /* max-width: 1200px; */
    background-color: white;
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-left: 3rem;
    margin-top: 2rem;
    margin-right: 1rem;
  }
  
  .notification-list {
    list-style: none;
    background-color: white;
    padding: 10px;
  }
  
  .notification-item {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  