body {
  background-color: rgb(181, 186, 188);
}
.setting-box {
  width: 91%;
  /* max-width: 1200px; */
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.form-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}
.form-group {
  display: inline-block;
  width: 30%;
  padding: 2rem;
  font-size: 15px;
  color: #4b5767;
}
.form-input,
.form-button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1rem;
}

.form-button {
  cursor: pointer;
}

.form-button {
  background-color: #136d66;
  color: white;
  border: none;
  width: fit-content;
  text-align: center;
}
.submit {
  width: 25%;
  margin-left: 2rem;
}
.profile-pic {
  height: 20vw;
  width: 20vw;
  max-height: 200px;
  max-width: 200px;
  position: absolute;
  top: 26%;
  right: 17%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  border: 3px solid #136d66;
  display: flex; /* Added display property */
  justify-content: center; /* Added justify-content property */
  align-items: center;
}
#photo {
  height: 98%;
  width: 98%;
  object-fit: cover;
  object-position: center center; 
  border-radius: 50%;
}

.camera {
  position: absolute;
  top: 90%;
  right: 40px;
  transform: translate(50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #136d66;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: visible;
}

#uploadBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
#uploadBtn:is(:hover, :focus) {
  color: #ba760d;
}
.parent {
  padding: 0 70px;
  font-family: sans-serif;
  color: #4b5767;
  display: flex;
  flex-direction: column;
}

.box-1 {
  height: 170px;
  width: 100%;
  max-width: 450px;
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  padding-left: 2rem;
  border: solid 1px rgb(215, 215, 215);
  margin-bottom: 20px;
}
.box-1,
.box-2 p {
  font-size: 16px;
}

.box-2 {
  height: 170px;
  width: 100%;
  max-width: 450px;
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  padding-left: 2rem;
  border: solid 1px rgb(215, 215, 215);
  margin-bottom: 20px;
}
.btn {
  background-color: #136d66;
  color: white;
  border: none;
  border-radius: 0.2rem;
  font-size: 14px;
  text-align: right;
  cursor: pointer;
  padding: 0.5rem;
}
.text {
  color: #4b5767;
  font-weight: 500;
}
.deactivate-btn {
  background-color: white;
  color: #c80909;
  border: solid 1px #dee4ed;
  border-radius: 0.3rem;
  font-size: 14px;
  text-align: right;
  padding: 0.5rem;
  cursor: pointer;
}
.admin-button {
  text-align: right;
  padding-right: 6rem;
}
.addAdmin-btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #136d66;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
/* admin table */
* {
  box-sizing: border-box;
}
.table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #ececec;
  color: #868b92;
}

/* .table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
} */
.deleteBtn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px;
  color: #a90b0b;
  background-color: white;
  border: solid 1px #a90b0b;
  cursor: pointer;
  width: 68px;
}

.editBtn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px;
  color: #136d66;
  background-color: white;
  border: solid 1px #136d66;
  width: 68px;
  cursor: pointer;
}
/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .setting-box {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.5rem;
  }
  .form-container {
    position: relative;
  }
  .form-group {
    width: 100%;
    margin-right: 0;
    padding: 0rem;
  }
  .submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-pic {
    height: 200px;
    width: 200px;
    position: static;
    
    transform: translate(-50%, -50%);
    margin: 0 auto;
    margin-top: 8rem;
    margin-left: 15rem;
    align-items: center;
  }
  .camera {
    position: absolute;
    top: 90%;
    right: 40px;
    transform: translate(50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: visible;
  }
  
  #uploadBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }
  /* #uploadBtn {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  } */
  .parent {
    display: block;
  }
  .addAdmin-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
@media screen and (max-width: 480px) {
  .profile-pic {
    height: 200px;
    width: 200px;
    position: static;
    /* top: 5%;
      left: 50%; */
    transform: translate(-50%, -50%);
    margin: 0 auto;
    margin-top: 8rem;
    margin-left: 15rem;
  }
  .submit {
    /* width: 40%; */
    padding: 2rem;
  }
  .form-input,
  .form-button {
    font-size: 14px;
  }
  .addAdmin-btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}
@media screen and (min-width: 768px) {
  .parent {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .box-1,
  .box-2 {
    width: 47%;
    margin-bottom: 0;
  }
}
