/* ================================ ASIDE AND SIDEBAR ========================= */
main {
  display: grid;
  grid-template-columns: 16rem auto 30rem;
  gap: 2rem;
}
main aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh;
}
/* Visible only in mobile and tablets screens */
main aside button#close-btn {
  display: block;
  width: 100%;
}
main aside .sidebar {
  background: #136d66;
  height: 100%;
}
main aside .sidebar a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 4.2rem;
  color: var(--color-white);
  position: relative;
}
main aside .sidebar a span {
  font-size: 1.7rem;
  margin-left: 2rem;
  transition: all 300ms ease;
}
main aside .sidebar a.active {
  color: #ba760d;
}
main aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  position: absolute;
  background: #ba760d;
}
main aside .sidebar a:hover {
  color: #ba760d;
}
main aside .sidebar h4 {
  font-weight: 500;
}

/* .sidebar {
  grid-area: sidebar;
  background-color: #136d66;
  color: #fff;
  padding: 35px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  display: block;
  position: relative;
  z-index: 999;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
}

.sidebar a {
  display: block;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #07514a;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
} */
