.species-details-container {
  border-radius: 15px;
  margin-top: 80px;
  border-color: #f7f7f7;
  background-color: #fcfcfc;
  padding: 1%;
  padding-bottom: 10px;
  max-width: 100%;
  width: 100%;
  padding-bottom: 10%;
  margin-bottom: 20px;
}

.species-details-header {
  display: flex;
  justify-content: space-between;
  line-height: 190%;
  padding: 0 10px;
}

.edit-button {
  background-color: #136d66;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.edit-button:hover {
  background-color: #115d56;
}
.species-images {
  display: flex;
  flex-direction: row-reverse;
}
.species-image1 {
  width: 70%;
  max-width: 700px;
  border: 1px solid #ccc;
  border-radius: 2%;
  object-fit: cover;
  cursor: pointer;
}
.species-image-column1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 5%;
}
.img-bird {
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.bird-name {
  font-size: 3rem;
  width: 100%;
  font-weight: bold;
  padding: 2rem;
}
.scientific-name {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}
.IUCNStatus {
  font-size: 1.8rem;
}
.species-image {
  width: 80%;
  max-width: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 2%;
  object-fit: cover;
}
.species-image-more {
  position: relative;
  width: 80%;
  max-width: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 2%;
  filter: grayscale(100%);
  cursor: pointer;
  object-fit: cover;
}

.map {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 20px;
  padding-right: 10px;
}

.location {
  height: 90%;
}

.iframe {
  height: 100px;
}

.species-container {
  display: flex;
  flex-direction: row;
}

.species-text {
  padding: 5px;
  font-size: 20px;
  margin-left: 15px;
}

.species-name {
  padding: 5px;
  font-size: 12px;
  color: #808191;
  margin-left: 15px;
}

.species-location {
  padding-top: 10px;
  color: #808191;
  display: flex;
  font-size: 20px;
  margin-left: 15px;
}

.species-stats {
  padding: 5px;
  padding-top: 25px;
  font-size: 20px;
  margin-left: 15px;
}

.species-stats-obs {
  padding: 5px;
  color: #808191;
  padding-top: 5px;
  font-size: 20px;
  margin-left: 15px;
}

.species-des {
  padding: 5px;
  padding-top: 25px;
  font-size: 16px;
  margin-left: 15px;
}

.species-des-para {
  padding-top: 5px;
  color: #808191;
  padding-top: 5px;
  font-size: 12px;
  margin-left: 15px;
}

.species-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
}

.species-row {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 5px 0;
  padding-left: 10%;
  gap: 2rem;
}

.species-label {
  flex-basis: 40%;
  font-weight: bold;
  font-size: 1.3rem;
}

.species-value {
  flex-basis: 60%;
  font-size: 1rem;
}


@media (max-width: 650px) {
  .species-image {
    display: none;
  }
  .species-image-more {
    display: none;
  }
  .species-table {
    display: block;
    gap: 10px;
    border-collapse: collapse;
    border-radius: 50px;
  }

  .species-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
  }
  
  .species-row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    gap: 2rem;
  }
  
  .species-label {
    flex-basis: 50%;
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  .species-value {
    flex-basis: 50%;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .species-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .species-image1 {
    width: 80%;
    max-width: 450px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 2%;
    object-fit: cover;
    cursor: pointer;
  }

  .species-image-column1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
  }

  .img-bird {
    padding: 0;
  }

  .bird-name {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    margin-top: -1.5rem;
  }
  .scientific-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-style: italic;
  }
  .IUCNStatus {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .species-image {
    width: 80%;
    max-width: 350px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 2%;
    object-fit: cover;
  }
  .species-image-more {
    position: relative;
    width: 80%;
    max-width: 350px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 2%;
    filter: grayscale(100%);
    cursor: pointer;
    object-fit: cover;
  }

  .map {
    width: 80%;
    max-width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: 20px;
    padding-right: 10px;
  }
  .location {
    height: 90%;
  }
}
