.species-details-container {
  border-radius: 15px;
  margin-top: 80px;
  border-color: #f7f7f7;
  background-color: #fcfcfc;
  padding: 1%;
  padding-bottom: 10px;
  max-width: 100%;
  width: 100%;
  padding-bottom: 10%;
  margin-bottom: 20px;
}

.species-details-header {
  display: flex;
  justify-content: space-between;
  line-height: 190%;
  padding: 0 10px;
}

.edit-button {
  background-color: #136d66;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.edit-button:hover {
  background-color: #115d56;
}
.species-images {
  display: flex;
  flex-direction: row-reverse;
}
.species-image1 {
  width: 100%;
  max-width: 700px;
  border: 1px solid #ccc;
  border-radius: 2%;
  object-fit: cover;
  cursor: pointer;
}
.species-image-column1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.img-bird {
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.bird-name {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
}
.scientific-name {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}
.IUCNStatus {
  font-size: 1.8rem;
}
.species-image {
  width: 80%;
  max-width: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 2%;
  object-fit: cover;
}
.species-image-more {
  position: relative;
  width: 80%;
  max-width: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 2%;
  filter: grayscale(100%);
  cursor: pointer;
  object-fit: cover;
}

.map {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 20px;
  padding-right: 10px;
}

.location {
  height: 90%;
}

.iframe {
  height: 100px;
}

.species-container {
  display: flex;
  flex-direction: row;
}

.species-text {
  padding: 5px;
  font-size: 20px;
  margin-left: 15px;
}

.species-name {
  padding: 5px;
  font-size: 12px;
  color: #808191;
  margin-left: 15px;
}

.species-location {
  padding-top: 10px;
  color: #808191;
  display: flex;
  font-size: 20px;
  margin-left: 15px;
}

.species-stats {
  padding: 5px;
  padding-top: 25px;
  font-size: 20px;
  margin-left: 15px;
}

.species-stats-obs {
  padding: 5px;
  color: #808191;
  padding-top: 5px;
  font-size: 20px;
  margin-left: 15px;
}

.species-des {
  padding: 5px;
  padding-top: 25px;
  font-size: 16px;
  margin-left: 15px;
}

.species-des-para {
  padding-top: 5px;
  color: #808191;
  padding-top: 5px;
  font-size: 12px;
  margin-left: 15px;
}

@media (max-width: 650px) {
  .species-image {
    display: none;
  }
  .species-image-more {
    display: none;
  }
  .species-table {
    display: block;
    gap: 10px;
    border-collapse: collapse;
    border-radius: 50px;
  }
}

@media (max-width: 768px) {
  .species-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .species-image1 {
    width: 80%;
    max-width: 450px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 2%;
    object-fit: cover;
    cursor: pointer;
  }

  .species-image-column1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
  }

  .img-bird {
    padding: 0;
  }

  .bird-name {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    margin-top: -1.5rem;
  }
  .scientific-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-style: italic;
  }
  .IUCNStatus {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .species-image {
    width: 80%;
    max-width: 350px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 2%;
    object-fit: cover;
  }
  .species-image-more {
    position: relative;
    width: 80%;
    max-width: 350px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 2%;
    filter: grayscale(100%);
    cursor: pointer;
    object-fit: cover;
  }

  .map {
    width: 80%;
    max-width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: 20px;
    padding-right: 10px;
  }
  .location {
    height: 90%;
  }
}

.species-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-collapse: collapse;
  border-radius: 50px;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .table-cell {
  padding: 10px;
  border: 2px solid #136d66;
  border-radius: 8px;

  box-shadow: inset 3px 3px 3px rgba(84, 173, 121, 0.5);

} */
.table-cell {
  padding: 10px;
  border: 1px solid #136d66;
  border-radius: 2px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 1px rgba(124, 130, 129, 0.5),
    0 0 2px 1px rgba(125, 139, 138, 0.2), inset 0 0 1px rgba(131, 107, 107, 0.2);
}

.table-row:hover {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.table-cell:first-child {
  font-size: 14px;
  font-weight: bold;
}

.table-cell:nth-child(2) {
  font-weight: bold;
  color: rgb(172, 50, 5);
}

.table-cell span {
  font-size: 14px;
}
