/* NAV BAR */
nav {
  width: 100%;
  background: var(--color-white);
  margin-top: 66px;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-white);
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav img.logo {
  width: 3.7rem;
  margin-left: 2rem;
}
nav .search-bar {
  background: var(--color-light);
  padding: 0.6rem;
  width: 32vw;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-dark);
  position: absolute;
  left: 23%;
}
nav .search-bar input[type="search"] {
  color: var(--color-gray-dark);
  background: transparent;
  width: 100%;
}

nav .profile-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  cursor: pointer;
}
nav .profile-area:hover {
  color: #ba760d;
}
nav .profile-area .profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 2rem;
}
nav .profile-area .profile-photo {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
nav .profile-area button {
  display: none;
}

/* Dropdown Menu */
nav .profile-area .profile:hover .dropdown-menu {
  display: block;
}

nav .profile-area .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 12%;
  background-color: #136D66;
  border: 1px solid #136D66;
  border-radius: 4px;
  padding: 0.5rem;
  z-index: 10;
}

nav .profile-area .dropdown-menu button {
  display: block;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: white;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

nav .profile-area .dropdown-menu button:hover {
  color: #ba760d;
}